.rental_creator {
    border: 2px double indigo;
    border-radius: 12px;
    max-width: 190px;
    padding: 1.5em;
    min-height: 100px;
    max-height: 120px;
}

.okay {
  background-color: khaki;
}

.badnews {
  background-color: tomato;
  font-weight: bold;
}

.message-area {
  color: indigo;
}

.customer-info  {
  padding: 4px;
}
